<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</head>
<body>

    <section class="container-fluid">
        <img src="https://wallpapercave.com/wp/wp2255728.jpg" class="img-fluid" width="auto" height="auto">       
    </section>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">Possum <img src="https://static.thenounproject.com/png/3386336-200.png" width="50" height="50"> <span class="sr-only">(current)</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="navInicio">
                <a class="nav-link" href="{% url 'quienes_somos' %}">¿Quiénes somos? <span class="sr-only">(current)</span></a>
            </li>
            <li class="navInicio">
                <a class="nav-link" href="{% url 'contacto' %}">Contacto <span class="sr-only">(current)</span></a>
            </li>
            <li class="navInicio">
                <a class="nav-link" href="{% url 'galeria' %}">Galería <span class="sr-only">(current)</span></a>
            </li>
            <li class="navInicio">
                <a class="nav-link" href="{% url 'm_medida' %}">Modelo a Medida <span class="sr-only">(current)</span></a>
            </li>
            <li class="navInicio">
                <a class="nav-link" href="{% url 'm_metraje' %}">Modelo por Metraje <span class="sr-only">(current)</span></a>
            </li>
        </div>
    </nav>





{% block content %}



{% endblock %}
<footer class="page-footer font-small indigo bg-info">

    <div class="container text-center text-md-left">
  
      <div class="row">
  
        <div class="col-md-3 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Possum
              <img src="https://static.thenounproject.com/png/3386336-200.png" width="50" height="50">
          </h5>
          <h6>Soluciones asequibles para la casa de tus sueños</h6>
        </div>
  
        <hr class="clearfix w-100 d-md-none">
  
        <div class="col-md-3 mx-auto">
  
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Productos</h5>
  
          <ul class="list-unstyled">
                <li>
                    <a href="{% url 'm_medida' %}">Modelos a medida</a>
                </li>
                <li>
                    <a href="{% url 'm_metraje' %}">Modelos por metraje</a>
                </li>
            </ul>
        </div>
  
        <hr class="clearfix w-100 d-md-none">
  
        <div class="col-md-3 mx-auto">
  
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Direcciones</h5>
  
          <ul class="list-unstyled">
            <li>
                Padre Mariano 356, Providencia
            </li>
            <li>
              +569 69842315
            </li>
            <li>
              +562 2 4556897
            </li>
            <li>
                <a href="#!">contacto@possumco.cl</a>
            </li>
          </ul>

        </div>
  
        <hr class="clearfix w-100 d-md-none">
  
        <div class="col-md-3 mx-auto">
  
          <div>
            
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">
                Redes Sociales
                <img src="https://www.flaticon.es/svg/static/icons/svg/733/733625.svg" width="15" height="15">
            </h5>
          </div>
          
          <ul class="list-unstyled">
            <li>
              <a href="#!">
                  <h6>Facebook
                      <img src="https://www.flaticon.es/svg/static/icons/svg/733/733603.svg" width="15" height="15">
                  </h6>
              </a>
            </li>
            <li>
              <a href="#!">
                  <h6>Instagram
                      <img src="https://www.flaticon.es/svg/static/icons/svg/87/87390.svg" width="15" height="15">
                  </h6>
              </a>
            </li>
            <li>
                <a href="#!">
                    <h6>
                        Twitter
                        <img src="https://www.flaticon.es/svg/static/icons/svg/733/733635.svg" width="15" height="15">
                    </h6>
                </a>
            </li>
          </ul>
        </div>
      </div> 
    </div>

    <div class="footer-copyright text-center py-3">
        © 2020 Possum
    </div>

</footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</body>
</html>