{% extends 'constructoraApp/base.html'%}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi formulario</title>
</head>
<body>
    <section class="mb-4">
        <h2 class="h1-responsive font-weight-bold text-center my-4">Contactenos!</h2>
        <p class="text-center w-responsive mx-auto mb-5">¿Aún tiene dudas? Porfavor no dude en contactarse con nosotros de manera directa. Nuestro equipo responderá cualquier pregunta en cuestion de horas.</p>

        <div class="container">
            <div class="row">
                <div class="col-md-9 mb-md-0 mb-5">
                    <form action="#" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="md-form mb-0"></div>
                                <label for="name" class="">Su Nombre</label>
                                <input type="text" name="txt_nombre" txt="txt_nombre" placeholder="Escriba su nombre aqui!" class="form-control" required>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form mb-0"></div>
                                <label for="name" class="">Su Correo</label>
                                <input type="text" name="txt_correo" txt="txt_correo" placeholder="Escriba su E-mail aqui!" class="form-control" required>
                            </div>
                            <div class="mt-4 col-md-6">
                                <div class="md-form mb-0"></div>
                                <label for="name" class="">Asunto</label>
                                <input type="text" name="txt_asunto" txt="txt_asunto" placeholder="¿Por qué es la razon del correo?" class="form-control" required>
                            </div>
                            <div class="mt-4 col-md-6">
                                <div class="md-form mb-0"></div>
                                <label for="message" class="">Su mensaje</label>
                                <textarea input type="text" name="txt_asunto" txt="txt_asunto" rows="2" placeholder="¿Cual es la razon del correo?" class="form-control" required></textarea>
                            </div>
                            <div class="col-md-1">
                                    <td>
                                        <button type="submit" value="Enviar" name="btn_enviar" id="btn_enviar" data-toggle="modal" data-target="enviado">Enviar</button>                   
                                    </td>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 text-center">
                    <ul class="list-unstyled mb-0">
                        <li><i class="fas fa-map-marker-alt fa-2x"></i>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.9699186118805!2d-70.6206324496661!3d-33.42402860344752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf689790f50b%3A0xb43628755268e1ed!2sSP%20Digital!5e0!3m2!1ses-419!2scl!4v1605054358363!5m2!1ses-419!2scl" width="auto" height="auto" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            <p>Padre Mariano 356, Providencia, Metro Pedro de Valdivia</p>
                        </li>
        
                        <li><i class="fas fa-phone mt-4 fa-2x"></i>
                            <p>+569 69842315</p>
                        </li>
        
                        <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                            <p>contacto@possumco.cl</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock%}