{% extends 'constructoraApp/base.html'%}

{% block content%}

<h1 class="text-center display-4 my-4"> Galería de Casas</h1>
<h3 class="text-center my-4"> Haz click en una casa para ver sus caracteristicas</h3>
<div class="container">

  <div class="card-columns">
    <div class="card">
      <a href="#" data-toggle="modal" data-target="#casa1">
      <img src="https://www.casaschilespa.cl/921-large_default/los-lagos-141m.jpg" class="card-img-top" alt="...">
      </a>
    </div>
    <div class="card">
      <a href="#" data-toggle="modal" data-target="#casa2">
      <img src="https://www.casaschilespa.cl/700-large_default/maule-54m.jpg" class="card-img-top" alt="...">
      </a>
    </div>
    <div class="card">
      <a href="#" data-toggle="modal" data-target="#casa3">
      <img src="https://www.casaschilespa.cl/911-large_default/maule-72m.jpg" class="card-img-top" alt="...">
      </a>
    </div>
    <div class="card">
      <a href="#" data-toggle="modal" data-target="#casa4">
      <img src="https://www.casaschilespa.cl/1093-large_default/papudo-60m.jpg" class="card-img-top" alt="...">
      </a>
      
    </div>
    <div class="card">
      <a href="#" data-toggle="modal" data-target="#casa5">
      <img src="https://www.casaschilespa.cl/195-large_default/los-lagos-83m.jpg" class="card-img-top" alt="...">
      </a>
    </div>
    <div class="card">
      <a href="#" data-toggle="modal" data-target="#casa6">
      <img src="https://www.casaschilespa.cl/1016-large_default/maule-108m.jpg" class="card-img-top" alt="...">
      </a>
    </div>
    <div class="card">
      <a href="#" data-toggle="modal" data-target="#casa7">
      <img src="https://www.casaschilespa.cl/880-large_default/mediterranea-141m.jpg" class="card-img-top" alt="...">
      </a>
    </div>
    <div class="card">
      <a href="#" data-toggle="modal" data-target="#casa8">
      <img src="https://www.casaschilespa.cl/856-large_default/ohiggins-72m.jpg" class="card-img-top" alt="...">
      </a>
    </div>
    <div class="card">
      <a href="#" data-toggle="modal" data-target="#casa9">
      <img src="https://www.casaschilespa.cl/1054-large_default/modelo-1.jpg" class="card-img-top" alt="...">
      </a>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="casa1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">LOS LAGOS 141 M²</h5>
        </div>
        <div class="modal-body">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Dimensiones</th>
                <td>141 mt2</td>
              </tr>
              <tr>
                <th scope="row">Dormitorios</th>
                <td>4</td>
              </tr>
              <tr>
                <th scope="row">Baños</th>
                <td>3</td>
              </tr>
              <tr>
                <th scope="row">Living comedor</th>
                <td>Aplica</td>
              </tr>
              <tr>
                <th scope="row">Cocina</th>
                <td>Aplica</td>
              </tr>
              <tr>
                <th scope="row">Precio</th>
                <td>$7.000.000</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="casa2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">MAULE 54M²</h5>
        </div>
        <div class="modal-body">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Dimensiones</th>
                <td>54 m²</td>
              </tr>
              <tr>
                <th scope="row">Dormitorios</th>
                <td>3</td>
              </tr>
              <tr>
                <th scope="row">Baños</th>
                <td>1</td>
              </tr>
              <tr>
                <th scope="row">Living comedor</th>
                <td>Aplica</td>
              </tr>
              <tr>
                <th scope="row">Cocina</th>
                <td>Aplica</td>
              </tr>
              <tr>
                <th scope="row">Precio</th>
                <td>$3.710.000</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="casa3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">MAULE 72M²</h5>
        </div>
        <div class="modal-body">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Dimensiones</th>
                <td>72 m²</td>
              </tr>
              <tr>
                <th scope="row">Dormitorios</th>
                <td>4</td>
              </tr>
              <tr>
                <th scope="row">Baños</th>
                <td>2</td>
              </tr>
              <tr>
                <th scope="row">Living comedor</th>
                <td>Aplica</td>
              </tr>
              <tr>
                <th scope="row">Cocina</th>
                <td>Aplica</td>
              </tr>
              <tr>
                <th scope="row">Precio</th>
                <td>$4.700.000</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="casa4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">PAPUDO 60M²</h5>
        </div>
        <div class="modal-body">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Dimensiones</th>
                <td>60 m²</td>
              </tr>
              <tr>
                <th scope="row">Dormitorios</th>
                <td>4</td>
              </tr>
              <tr>
                <th scope="row">Baños</th>
                <td>2</td>
              </tr>
              <tr>
                <th scope="row">Living comedor</th>
                <td>Aplica</td>
              </tr>
              <tr>
                <th scope="row">Cocina</th>
                <td>Aplica</td>
              </tr>
              <tr>
                <th scope="row">Precio</th>
                <td>$5.390.000</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="casa5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">LOS LAGOS 83M²</h5>
        </div>
        <div class="modal-body">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Dimensiones</th>
                <td>83 m²</td>
              </tr>
              <tr>
                <th scope="row">Dormitorios</th>
                <td>4</td>
              </tr>
              <tr>
                <th scope="row">Baños</th>
                <td>2</td>
              </tr>
              <tr>
                <th scope="row">Living comedor</th>
                <td>Aplica</td>
              </tr>
              <tr>
                <th scope="row">Cocina</th>
                <td>Aplica</td>
              </tr>
              <tr>
                <th scope="row">Precio</th>
                <td>$6.800.000</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="casa6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">PIÑOL 108M²</h5>
        </div>
        <div class="modal-body">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Dimensiones</th>
                <td>108 m²</td>
              </tr>
              <tr>
                <th scope="row">Dormitorios</th>
                <td>4</td>
              </tr>
              <tr>
                <th scope="row">Baños</th>
                <td>3</td>
              </tr>
              <tr>
                <th scope="row">Living comedor</th>
                <td>Aplica</td>
              </tr>
              <tr>
                <th scope="row">Cocina</th>
                <td>Aplica</td>
              </tr>
              <tr>
                <th scope="row">Precio</th>
                <td>$5.400.000</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="casa7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">MEDITERRÁNEA 141M²</h5>
        </div>
        <div class="modal-body">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Dimensiones</th>
                <td>141 m²</td>
              </tr>
              <tr>
                <th scope="row">Dormitorios</th>
                <td>4</td>
              </tr>
              <tr>
                <th scope="row">Baños</th>
                <td>2</td>
              </tr>
              <tr>
                <th scope="row">Living comedor</th>
                <td>Aplica</td>
              </tr>
              <tr>
                <th scope="row">Cocina</th>
                <td>Aplica</td>
              </tr>
              <tr>
                <th scope="row">Precio</th>
                <td>$8.380.000</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="casa8" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">O’HIGGINS 72M²</h5>
        </div>
        <div class="modal-body">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Dimensiones</th>
                <td>72 m²</td>
              </tr>
              <tr>
                <th scope="row">Dormitorios</th>
                <td>4</td>
              </tr>
              <tr>
                <th scope="row">Baños</th>
                <td>2</td>
              </tr>
              <tr>
                <th scope="row">Living comedor</th>
                <td>Aplica</td>
              </tr>
              <tr>
                <th scope="row">Cocina</th>
                <td>Aplica</td>
              </tr>
              <tr>
                <th scope="row">Terraza interior</th>
                <td>Aplica</td>
              </tr>
              <tr>
                <th scope="row">Precio</th>
                <td>$4.400.000</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="casa9" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">PIÑOL 57M² (ÑUBLE)</h5>
        </div>
        <div class="modal-body">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Dimensiones</th>
                <td>57m²</td>
              </tr>
              <tr>
                <th scope="row">Dormitorios</th>
                <td>3</td>
              </tr>
              <tr>
                <th scope="row">Baños</th>
                <td>1</td>
              </tr>
              <tr>
                <th scope="row">Living comedor</th>
                <td>Aplica</td>
              </tr>
              <tr>
                <th scope="row">Cocina</th>
                <td>Aplica</td>
              </tr>
              <tr>
                <th scope="row">Precio</th>
                <td>$3.280.000</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock%}