{% extends 'constructoraApp/base.html'%}

{% block content %}

<br>
<br>
<br>

<h1 class="text-center display-2"> Elige tu casa prefabricada con nosotros y asegura tu mejor inversión</h1>
<br>
<h3 class="text-center display-5"> Te ayudamos a encontrar el mejor modelo para tu futura casa prefabricada</h3>

<br>
<br>
<br>



<div class="container">
  <div class="row">
    <div class="col order-1"><h1>Modelos destacados!</h1></div>
  </div>
</div>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col order-1">
      <h6>MAULE 54M²</h6>
      <img src="https://www.casaschilespa.cl/700-large_default/maule-54m.jpg" alt="" class="img-thumbnail">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Dimensiones</th>
            <td>54 mt2</td>
          </tr>
          <tr>
            <th scope="row">Dormitorios</th>
            <td>3</td>
          </tr>
          <tr>
            <th scope="row">Baños</th>
            <td>1</td>
          </tr>
          <tr>
            <th scope="row">Living comedor</th>
            <td>Aplica</td>
          </tr>
          <tr>
            <th scope="row">Cocina</th>
            <td>Aplica</td>
          </tr>
          <tr>
            <th scope="row">Precio</th>
            <td>$2.999.990</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col order-2">
      <h6>MAULE 72m²</h6>
      <img src="https://www.casaschilespa.cl/911-large_default/maule-72m.jpg" alt="" class="img-thumbnail">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Dimensiones</th>
            <td>72 mt2</td>
          </tr>
          <tr>
            <th scope="row">Dormitorios</th>
            <td>4</td>
          </tr>
          <tr>
            <th scope="row">Baños</th>
            <td>2</td>
          </tr>
          <tr>
            <th scope="row">Living comedor</th>
            <td>Aplica</td>
          </tr>
          <tr>
            <th scope="row">Cocina</th>
            <td>Aplica</td>
          </tr>
          <tr>
            <th scope="row">Precio</th>
            <td>$4.199.990</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col order-3">
        <h6>LOS LAGOS 83 m²</h6>
        <img src="https://www.casaschilespa.cl/195-large_default/los-lagos-83m.jpg" alt="" class="img-thumbnail">
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">Dimensiones</th>
              <td>83 mt2</td>
            </tr>
            <tr>
              <th scope="row">Dormitorios</th>
              <td>4</td>
            </tr>
            <tr>
              <th scope="row">Baños</th>
              <td>2</td>
            </tr>
            <tr>
              <th scope="row">Living comedor</th>
              <td>Aplica</td>
            </tr>
            <tr>
              <th scope="row">Cocina</th>
              <td>Aplica</td>
            </tr>
            <tr>
              <th scope="row">Precio</th>
              <td>$5.500.990</td>
            </tr>
        </table>
    </div>
    <div class="col order-4">
      <h6>LOS LAGOS 141 m²</h6>
      <img src="https://www.casaschilespa.cl/921-large_default/los-lagos-141m.jpg" alt="" class="img-thumbnail">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Dimensiones</th>
            <td>141 mt2</td>
          </tr>
          <tr>
            <th scope="row">Dormitorios</th>
            <td>4</td>
          </tr>
          <tr>
            <th scope="row">Baños</th>
            <td>3</td>
          </tr>
          <tr>
            <th scope="row">Living comedor</th>
            <td>Aplica</td>
          </tr>
          <tr>
            <th scope="row">Cocina</th>
            <td>Aplica</td>
          </tr>
          <tr>
            <th scope="row">Precio</th>
            <td>$7.000.000</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
{% endblock %}






