{% extends 'constructoraApp/base.html'%}

{% block content%}

<h1 class="text-center display-4 my-4"> Modelos por Metraje</h1>

<div class="container">
    <div class="card-columns">
        <div class="card">
          
          <img src="https://www.casaschilespa.cl/192-large_default/coquimbo-128m.jpg" class="card-img-top" alt="...">
          
        </div>
        <div class="card">
          
          <img src="https://www.casaschilespa.cl/199-large_default/los-lagos-141m.jpg" class="card-img-top" alt="...">
          
        </div>
        <div class="card">
          
          <img src="https://www.casaschilespa.cl/74-large_default/coquimbo-63m.jpg" class="card-img-top" alt="...">
          
        </div>
    </div>

<div class="container">
    <table class="table">
        <tbody>
          <tr>
            <th scope="row">Metros</th>
            <td>{{metros_cuadrados}} m²</td>
          </tr>
          <tr>
            <th scope="row">Precio Total</th>
            <td>$ {{precio_total}}</td>
          </tr>
        </tbody>
      </table>

{% endblock%}