{% extends 'constructoraApp/base.html'%}

{% block content%}

<h1 class="text-center display-4 my-4"> Modelo a la Medida</h1>

<div class="container">
<div class="card-columns">
    <div class="card">
      
      <img src="https://www.casaschilespa.cl/921-large_default/los-lagos-141m.jpg" class="card-img-top" alt="...">
      
    </div>
    <div class="card">
      
      <img src="https://www.casaschilespa.cl/199-large_default/los-lagos-141m.jpg" class="card-img-top" alt="...">
      
    </div>
    <div class="card">
      
      <img src="https://www.casaschilespa.cl/200-large_default/los-lagos-141m.jpg" class="card-img-top" alt="...">
      
    </div>
</div>

<div class="container">
<table class="table">
    <tbody>
      <tr>
        <th scope="row">Precio Base</th>
        <td>$ {{precio_base}}
        </td>
      </tr>
      <tr>
        <th scope="row">Dormitorios</th>
        <td>{{habitaciones}}</td>
      </tr>
      <tr>
        <th scope="row">Precio Dormitorios</th>
        <td>$ {{ precio_habitaciones}}</td>
      </tr>
      <tr>
        <th scope="row">Baños</th>
        <td>{{banios}}</td>
      </tr>
      <tr>
        <th scope="row">Precio Baños</th>
        <td>$ {{  precio_banios }}</td>
      </tr>
      <tr>
        <th scope="row">Living comedor</th>
        <td>Aplica</td>
      </tr>
      <tr>
        <th scope="row">Cocina</th>
        <td>Aplica</td>
      </tr>
    </tbody>
  </table>

{% endblock%}