{% extends 'constructoraApp/base.html'%}

{% block content%}

<section class="mb-4">
    <center>
    <img src="https://image.jimcdn.com/app/cms/image/transf/none/path/s3b44d52b189a1ad6/image/ib07657bde1c24fdb/version/1541706780/image.png" width="300" height="125">
    </center>   
    <div class="container">Possum, la mejor calidad y construcción en casas prefabricadas.
         Somos una empresa dedicada a construir casas prefabricadas en las que la calidad y la eficiencia se combinan para crear una verdadera solución habitacional.
          Pensamos la forma de construir su vivienda de la manera más fácil, sólida y eficiente. Para ello contamos con 2 modalidades de compra: Modelos de casa por medida y Modelos de casas por metraje</div>
    <center>
    <img src="https://evolucionmedia.pe/contenido/img/mision.png" width="350" height="220">
    </center>
    <div class="container">Nuestra empresa Possum tiene como principal misión cumplir el sueño de la casa propia a todos quienes lo vean como algo lejano e
        inalcanzable. ¿Pero cómo podemos hacer esto posible?, Fácil, en Possum manejamos una serie de ofertas con opciones de pago para todo bolsillo. Pon atención, te aseguramos que aquí si es posible hacer real tu anhelo. Otra arista de nuestra misión es que tú puedas personalizar tu casa claramente a tu gusto.
         Nosotros no te imponemos una idea, al contrario, nos acomodamos a lo que deseas.</div>
    <center>
    <img src="https://www.serisa.com.mx/wp-content/uploads/2020/09/vision-1.png" width="350" height="220">
    </center>
    <div class="container">Como empresa luchamos día a día para posicionarnos como una de las mejores en construcción y venta de casas prefabricadas.
         Asimismo poder explicar y enseñar a nuestros clientes los beneficios que tiene adquirir una vivienda de las características que nosotros ofrecemos en el mercado.
        Por ejemplo, son casas de fácil traslado, armado y a un precio realmente accesible para las personas, pensando en lo carísimo que es comprarse una casa a través de las entidades bancarias con créditos altos y a muchos años.
         Es por esto, que nuestra visión es que las personas en un futuro no muy lejano nos vean, al momento de comprar su casa, como la mejor alternativa para cumplir ese sueño.</div>
</section>

{% endblock%}